{{#> layout}}
  <div class="container">
    <div id="settings">
      <div id="setting_sidebar">
        {{> settings_sidebar}}
      </div>
      <div id="setting_contents">
        <h1>Delete account</h1>
        <form action="/settings/delete-accont" method="post">

          <button type="submit">DELETE ACCOUNT!</button>

          {{> errors errors=errors}}
        </form>
      </div>
    </div>
  </div>
{{/layout}}