{{#> layout}}
  <div class="container">
    <div id="settings">
      <div id="setting_sidebar">
        {{> settings_sidebar}}
      </div>
      <div id="setting_contents">
        <h1>Change password</h1>
        <form action="/settings/password" method="post">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required>

          <label for="confirm_password">Confirm Password:</label>
          <input type="password" name="confirm_password" id="confirm_password" required>

          <button type="submit">Update</button>

          {{> errors errors=errors}}
        </form>
      </div>
    </div>
  </div>
{{/layout}}