<header>
  <nav class="header-container">
    <a href="/" class="header-title">Video Chat System</a>
    <div>
      <a href="/chat-spaces/create" class="header-link">Create ChatSpace</a>
      <a href="/auth/sign-in" class="header-link">Sign In</a>
      <a href="/auth/sign-up">SignUp</a>
    </div>
  </nav>
</header>
