<ul>
  <li><a href="/settings/user">Change user information</a></li>
  <li><a href="/settings/email">Change email</a></li>
  <li><a href="/settings/password">Change password</a></li>
  <li><a href="/settings/delete-account">Delete account</a></li>
</ul>