{{#> layout}}
  <div class="container">
    <button onclick="location.href='/chat-spaces/create'">Create Chat Space</button>

    <h3 style="margin-top:50px;">Your Chat Spaces:</h3>
    <ul>
      {{#each chatSpaces}}
        <li><a href="/chat-spaces/{{this.id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
{{/layout}}
