{{#> layout}}
  <div class="container">
    <h1>Sign Up</h1>
    <form action="/auth/sign-up" method="post">
      <label for="email">Username:</label>
      <input type="email" name="username" id="username" value="{{username}}" required>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" value="{{email}}" required>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>

      <label for="confirm_password">Confirm Password:</label>
      <input type="password" name="confirm_password" id="confirm_password" required>

      <button type="submit">SignUp</button>

      {{> errors errors=errors}}
    </form>
    <p class="center">Already have an account? <a href="/auth/sign-in">Sign In</a></p>
  </div>
{{/layout}}
